.form{
  display: flex;
  flex-direction: column;
  gap:20px;
  width:300px;
}

.delay-label{
  display: flex;
  flex-direction: column;
}

fieldset{
  display: flex;
  justify-content: space-around;
}